numpy==1.23.5
pytest==7.2.0
cryptography==38.0.3
aspose-words==22.11.0
gostcrypto==1.2.5
pyOpenSSL==22.1.0
pycryptodomex==3.15.0
bcrypt~=4.0.1
python-digital-certificate
oscrypto==1.3.0
PyPDF2==2.11.2
python-docx
pyHanko[pkcs11,image-support,opentype,xmp]==0.16.0
certvalidator

six~=1.16.0
pyderasn~=9.3
asn1~=2.6.0